/* globals */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* game window */
#wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
}
/* google street view */
#pano {
	height: 100%;
	z-index: 1000;
	background-color: black;
}


/* ***************** */
/* map related stuff */
/* ***************** */
#map-overlay-wrap {
	cursor: pointer;
	position: absolute;
	bottom: 2rem;
	right: 3rem;
	opacity: 1;
	transform: scale(.8);
	transform-origin: bottom right;
	visibility: visible;
	transition: all 1s;
	z-index: 1001;
}
#map-overlay-wrap:hover {
	transform: scale(1);
}
#map {
	position: relative;
	overflow: hidden;
	height: 300px;
	width: 420px;
}


/* ******** */
/* Controls */
/* ******** */
#controls {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1001;
}
.btn {
	color: #fff;
	display: inline-block;
	font-weight: 700;
	letter-spacing: .025em;
	width: 100%;
	text-align: center;
	border-radius: .5rem;
	margin-bottom: .75rem;
}
#next {
	background-color: #2196f3;
}
#guess {
	background-color: #66cc00;
}


/* ********************* */
/* spinner loader thingy */
/* ********************* */
#spinner {
	display: none;
	background-color: #000000aa;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1010;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}